NEXT_PUBLIC_API_BASE_URL=https://test.sportsmockery.com
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_ONESIGNAL_APP_ID=
NEXT_PUBLIC_ADMOB_IOS_APP_ID=
NEXT_PUBLIC_ADMOB_ANDROID_APP_ID=
NEXT_PUBLIC_ADMOB_IOS_BANNER_ID=
NEXT_PUBLIC_ADMOB_ANDROID_BANNER_ID=
